argon2-cffi
pycryptodome
rsa
fastapi
fastapi-restful
multidict
numpy
orjson
pandas
pyodbc
python-dotenv
SQLAlchemy
uvicorn
gunicorn
python-multipart
typing_inspect
lxml
xmltodict
bidict
smbprotocol
pymupdf
pg8000
psycopg2-binary